@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-alex: Alexandria;

  --color-primary-default: hsl(0, 0%, 15%);
  --color-secondary-default: hsl(0, 0%, 10%);
  --color-highlight-default: hsl(0, 0%, 20%);
  --color-accent-default: hsl(80, 100%, 42%);
  --color-text-default: hsl(0, 0%, 100%);
  --color-text-highlight-default: hsl(0, 67%, 58%);

  --color-primary-light: hsl(0, 0%, 90%);
  --color-secondary-light: hsl(0, 0%, 85%);
  --color-highlight-light: hsl(0, 0%, 80%);
  --color-accent-light: hsl(80, 100%, 58%);
  --color-text-light: hsl(0, 0%, 0%);
  --color-text-highlight-light: hsl(0, 67%, 42%);
}
